<?xml version="1.0"?>
<config>
    <modules>
        <MW_Onestepcheckout>
            <version>0.1.6</version>
        </MW_Onestepcheckout>
    </modules>
    <frontend>
        <secure_url>
            <onestepcheckout>/onestepcheckout/</onestepcheckout>
        </secure_url>
		
        <routers>
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>MW_Onestepcheckout</module>
                    <frontName>onestepcheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <layout>
            <updates>
                <onestepcheckout>
                    <file>mw_onestepcheckout.xml</file>
                </onestepcheckout>
            </updates>
        </layout>
        <translate>
			<modules>
				<MW_Onestepcheckout>
					<files>
						<default>MW_Onestepcheckout.csv</default>
					</files>
				</MW_Onestepcheckout>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<onestepcheckout>
				<use>admin</use>
				<args>
					<module>MW_Onestepcheckout</module>
					<frontName>onestepcheckout</frontName>
				</args>
			</onestepcheckout>
        </routers>
    </admin>
    <adminhtml>
		<!--
		<menu>
			<onestepcheckout module="onestepcheckout">
				<title>Onestepcheckout</title>
				<sort_order>701</sort_order>               
				<children>
					<items module="onestepcheckout">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>onestepcheckout/adminhtml_onestepcheckout</action>
					</items>
				</children>
			</onestepcheckout>
		</menu>
		-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Onestepcheckout>
							<title>Onestepcheckout Module</title>
							<sort_order>10</sort_order>
						</MW_Onestepcheckout>
					
					    <system>
                            <children>
                                <config>
                                    <children>
										<!-- ten la trung ten chi ra trong file config system.xml -->
                                        <onestepcheckout translate="title" module="onestepcheckout">
											<!-- Title display in role -->
                                            <title>onestepcheckout</title>
                                        </onestepcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<onestepcheckout>
					<file>mw_onestepcheckout.xml</file>
				</onestepcheckout>
			</updates>
		</layout>
		<translate>
			<modules>
				<MW_Onestepcheckout>
					<files>
						<default>MW_Onestepcheckout.csv</default>
					</files>
				</MW_Onestepcheckout>
			</modules>
		</translate>
    </adminhtml>   
    <global>
		<!--bat dau buoc override controller nham` chuyen controller checkout/onepage ve` controller cua minh-->
		<rewrite>
			<mw_onestepcheckout_index>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<to>/onestepcheckout/index/</to>
			</mw_onestepcheckout_index>
		</rewrite>
		<!--ket thuc buoc override controller-->
        <models>
            <onestepcheckout>
                <class>MW_Onestepcheckout_Model</class>
                <resourceModel>onestepcheckout_mysql4</resourceModel>
            </onestepcheckout>
            <onestepcheckout_mysql4>
                <class>MW_Onestepcheckout_Model_Mysql4</class>
                <entities>
                    <onestepcheckout>
                        <table>mw_onestepcheckout</table>
                    </onestepcheckout>
                </entities>
            </onestepcheckout_mysql4>
			<sales><!--override function valid() cho phep valid cac field address theo config trong onestepcheckout-->
              <rewrite>
                  <quote_address>MW_Onestepcheckout_Model_Sales_Quote_Address</quote_address>
              </rewrite>
			</sales>
			<customer><!--override function valid() cho phep valid cac field address theo config trong onestepcheckout-->
              <rewrite>
                  <customer>MW_Onestepcheckout_Model_Customer_Customer</customer>
              </rewrite>			
			</customer>
        </models>
        <resources>
            <onestepcheckout_setup>
                <setup>
                    <module>MW_Onestepcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onestepcheckout_setup>
            <onestepcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onestepcheckout_write>
            <onestepcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onestepcheckout_read>
        </resources>
        <blocks>
            <onestepcheckout>
                <class>MW_Onestepcheckout_Block</class>
            </onestepcheckout>
			<adminhtml>            
				<rewrite><!--override sales/order/grid them cac field message, date, time-->  
					<sales_order_grid>MW_Onestepcheckout_Block_Adminhtml_Onestepcheckout_Sales_Order_Grid</sales_order_grid> 
				</rewrite>
				<rewrite><!--override regexception thanh add range time trong configuration-->
					<system_config_form_field_regexception>MW_Onestepcheckout_Block_Adminhtml_Onestepcheckout_System_Config_Form_Field_Addtimerange</system_config_form_field_regexception>
				</rewrite>	
			</adminhtml>  
        </blocks>
        <helpers>
            <onestepcheckout>
                <class>MW_Onestepcheckout_Helper</class>
            </onestepcheckout>
        </helpers>
        
        <events>
            <model_config_data_save_before>
            <observers>
                <onstepcheckout>
                    <type>singleton</type>
                    <class>onestepcheckout/observer</class>
                    <method>model_config_data_save_before</method>
                </onstepcheckout>
            </observers>
           </model_config_data_save_before>    
           
           <checkout_cart_add_product_complete>
           		<observers>
                <onstepcheckout>
                    <type>singleton</type>
                    <class>onestepcheckout/observer</class>
                    <method>checkout_cart_add_product_complete</method>
                </onstepcheckout>
            </observers>
           </checkout_cart_add_product_complete>
        
       
    </events>
    
    </global>
	<!--tao config admin/configuration-->
	<default>
		<onestepcheckout>
			<config>
				<enabled>1</enabled>
				<default_country></default_country>
				<default_shippingmethod></default_shippingmethod>
				<default_paymentmethod></default_paymentmethod>
				<page_title>Pagamento</page_title>
				<page_content>Informe os campos abaixo para concluir seu pedido.</page_content>
				<page_layout>3</page_layout>
				<allowshippingotheraddress>1</allowshippingotheraddress>
				<allowguestcheckout>1</allowguestcheckout>
				<allowregister>1</allowregister>
				<!-- enable_giftmessage>0</enable_giftmessage-->
				<!-- enable_messagetosystem>0</enable_messagetosystem-->
				<enable_quicklogin>1</enable_quicklogin>				
				<enable_geoip>0</enable_geoip>
				<disable_shop_cart>1</disable_shop_cart>
				<create_account>1</create_account>
				<style_color>337BAA</style_color>
				<is_sort_add>1</is_sort_add>
			</config>
			<options_sort>
				<!-- sort_name>1</sort_name-->
				<sort_company>2</sort_company>
				<sort_email>9</sort_email>
				<sort_street>3</sort_street>
				<sort_city>4</sort_city>
				<sort_state>4</sort_state>
				<sort_zip>2</sort_zip>
				<sort_country>5</sort_country>
				<sort_telephone>6</sort_telephone>
				<sort_fax>6</sort_fax>
				<sort_dob>7</sort_dob>
				<sort_gender>8</sort_gender>
				<sort_taxvat>7</sort_taxvat>
			</options_sort>			
			<allow_ajax>
				<ajax_shippingmethod>1</ajax_shippingmethod>
				<ajax_paymentmethod>0</ajax_paymentmethod>
				<ajax_country>0</ajax_country>
				<ajax_zipcode>0</ajax_zipcode>
				<ajax_city>0</ajax_city>
				<ajax_region>1</ajax_region>
				<ajax_shipping>1</ajax_shipping>
				<ajax_payment>0</ajax_payment>				
			</allow_ajax>

			<addfield>
				<!-- name>1</name>
				<email>2</email-->
				<street_lines>4</street_lines>
				<prefix_show>0</prefix_show>
				<middlename_show>0</middlename_show>
				<suffix_show>0</suffix_show>
				<dob_show>1</dob_show>
				<taxvat_show>1</taxvat_show>
				<gender_show>0</gender_show>
				
				<addressbook>1</addressbook>				
				<company>3</company>
				<street>2</street>
				<country>2</country>
				<city>1</city>
				<state>1</state>
				<zip>1</zip>				
				<telephone>1</telephone>				
				<fax>2</fax>			
				<editcartlink>2</editcartlink>
				<allowsubscribenewsletter>2</allowsubscribenewsletter>
				
				<!-- change from config to here -->
				<enable_messagetosystem>1</enable_messagetosystem>
				<allowcoupon>0</allowcoupon>				
				<showimageproduct>0</showimageproduct>
				<enable_giftmessage>0</enable_giftmessage>
				<!-- end change -->
				
			</addfield>
			
			<deliverydate>
				<formatdate>m/d/Y</formatdate>
				<allow_options>0</allow_options>
				<timerange>0</timerange>
				<asa_option>0</asa_option>
				<test>bien static</test>
			</deliverydate>
			
			<termcondition>
				<allow_options>1</allow_options>
				<content_options>Termos e condições do site...</content_options>
				<boxwidth>420px</boxwidth>
				<boxheight>250px</boxheight>
			</termcondition>
		</onestepcheckout>
	</default>
</config>