<?xml version="1.0"?>
<config>
	<!-- Headers Tabs, mageworld la ten dat bat ky -->
	<tabs>
        <mageworld translate="label" module="onestepcheckout">
            <label>O2Ti.com</label>
            <sort_order>300</sort_order>
        </mageworld>
    </tabs>
	<!-- Headers Tabs has a number of sections. -->
    <sections>
        <onestepcheckout translate="label" module="onestepcheckout">
            <label>Checkout em uma etapa</label>
            <tab>mageworld</tab><!-- Tham chieu den ten bat ky mageworld o tren -->
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order><!-- vi tri so voi cac section khac -->
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
			<!-- pop-open box with the title "General". -->
            <groups>                
                <config translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<!-- add fieldsss. -->
                    <fields>						
						<enabled translate="label">
                            <label>Enable Onestepcheckout:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <default_country translate="label">
                            <label>Default Country</label>
                            <frontend_type>select</frontend_type>
                            <!--<frontend_class>countries</frontend_class>  muon' show state/province thi` enable muc nay`-->
                            <source_model>adminhtml/system_config_source_country</source_model>
							<!--<source_model>tax/system_config_source_tax_country</source_model>-->
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_country>
                        <default_shippingmethod translate="label">
                            <label>Default Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <!--<source_model>onestepcheckout/system_config_source_shipping_allowedmethods</source_model>-->
                            <source_model>onestepcheckout/shipping_allowedmethods</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_shippingmethod>
                        <default_paymentmethod translate="label">
                            <label>Default Payment Method</label>
                            <frontend_type>select</frontend_type>
                            <!--<source_model>adminhtml/system_config_source_payment_allowedmethods</source_model> -->
                            <source_model>onestepcheckout/system_config_source_payment_allowedmethods</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </default_paymentmethod>
                    	<page_title translate="label">
                            <label>Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter title</comment>
                        </page_title>
                    	<page_content translate="label">
                            <label>Page Content</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter Content</comment>
                        </page_content>
						<allowshippingotheraddress translate="label">
                            <label>Permitir envio a outro endereço:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowshippingotheraddress>
						<allowguestcheckout translate="label">
                            <label>Permitir compras sem cadastro</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowguestcheckout>
						<allowsubscribenewsletter translate="label">
                            <label>Permitir cadastro em Newsletter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowsubscribenewsletter>
						<allowcoupon translate="label">
                            <label>Permitir informar cupom</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowcoupon>
						<allowregister translate="label">
                            <label>Obrigar cliente a se registrar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowregister>
						<showimageproduct translate="label">
                            <label>Visualizar imagem do produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </showimageproduct>
						<updateqtyproduct translate="label">
                            <label>Permitir alterar quantidade</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updateqtyproduct>
						<allowremoveproduct translate="label">
                            <label>Permitir remover produto</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowremoveproduct>
                    	<enable_giftmessage translate="label">
                            <label>Enable gift messages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>please enable gift messages in configuration/Sale/Gift Messages!</comment>
                        </enable_giftmessage>
                    	<enable_messagetosystem translate="label">
                            <label>Enable order comment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_messagetosystem>
                    	<enable_quicklogin translate="label">
                            <label>Allow Quick Login</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_quicklogin>
                    	<enable_geoip translate="label">
                            <label>Auto detect user country using GeoIP</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_geoip>
                        <is_disable translate="label">
                            <label>Disable feature sort and edit option field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>disable feature Sort Address Fields and feature Edit Options Of Address Field and after restore first status of form input info</comment>
                        </is_disable> 
                    </fields>
                </config>
				<!--
				<options translate="label">
                    <label>Allow hide/show address fields</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<enable_company translate="label">
                            <label>Company</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_company>
                    	<enable_fax translate="label">
                            <label>Fax</label>
                            <frontend_type>select</frontend_type>
                            <//source_model>onestepcheckout/adminhtml_form_renderer_config_createfield</source_model>
                            <//source_model>onestepcheckout/system_config_source_form_createfield</source_model>	
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_fax>
                	</fields>
                </options>
				-->
				
				
                <options_sort translate="label">
                    <label>Sort Address fields</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                   <sort_name translate="label">
                            <label>Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_name>
                        <sort_company translate="label">
                            <label>Company</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_company>
                        <sort_email translate="label">
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_email>
                        <sort_street translate="label">
                            <label>Street</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_street>
                        <sort_city translate="label">
                            <label>City</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_city>
                        <sort_state translate="label">
                            <label>State/Province</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_state>
                        <sort_zip translate="label">
                            <label>Zip/Postal Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_zip>
                        <sort_country translate="label">
                            <label>Country</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_country>
                        <sort_telephone translate="label">
                            <label>Telephone</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_telephone>
                        <sort_fax translate="label">
                            <label>Fax</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </sort_fax>
                    </fields>
                </options_sort>				
				
				
				
				
                <addfield translate="label">
                    <label>Habilidar/Desabilitar campos</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <name translate="label">
                            <label>Name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_Disablefield</source_model>
                           <!-- <frontend_model>onestepcheckout/system_config_source_optionaddfield</frontend_model>-->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </name>
                        <company translate="label">
                            <label>Company</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </company>
                        <email translate="label">
                            <label>Email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </email>
                        <street translate="label">
                            <label>Street</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </street>
                        <city translate="label">
                            <label>City</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </city>
                        <state translate="label">
                            <label>State/Province</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </state>
                        <zip translate="label">
                            <label>Zip/Postal Code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </zip>
                        <country translate="label">
                            <label>Country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_disablefield</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </country>
                        <telephone translate="label">
                            <label>Telephone</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </telephone>
                        <fax translate="label">
                            <label>Fax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>onestepcheckout/system_config_source_optionaddfield</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </fax>
                    </fields>
                </addfield>
				
                <allow_ajax translate="label">
                    <label>Atualizar dados dos clientes via Ajax</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<ajax_paymentmethod translate="label">
                            <label>Atualizar para forma de pagamento quando o cliente alterar país, cep...</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: No</comment>
                        </ajax_paymentmethod>
                    	<ajax_payment translate="label">
                            <label>Atualiza forma de pagamento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: No</comment>
                        </ajax_payment>
                        <ajax_country translate="label">
                            <label>Update country</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>							
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: Yes</comment>
                        </ajax_country>
                    	<ajax_zipcode translate="label">
                            <label>Update Zipcode or Postalcode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: No</comment>
                        </ajax_zipcode>
                        <ajax_city translate="label">
                            <label>Update City</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: No</comment>
                        </ajax_city>
                        <ajax_region translate="label">
                            <label>Update Region or State/Province </label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: No</comment>
                        </ajax_region>
                    </fields>
                </allow_ajax>
                <termcondition translate="label">
                    <label>Terms And Conditions</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<allow_options translate="label">
                            <label>Allow Terms And Conditions</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_options>
                        <content_options translate="label">
                            <label>Content Terms And Conditions</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter content</comment>
                        </content_options>
                        <boxwidth translate="label">
                            <label>Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter width for box</comment>
                        </boxwidth>
                        <boxheight translate="label">
                            <label>Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter height for box</comment>
                        </boxheight>
                    </fields>
                </termcondition>
                <deliverydate translate="label">
                    <label>Delivery Date</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<allow_options translate="label">
                            <label>Allow Delivery Date</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_options>
						<formatdate translate="label">
                            <label>Format Date</label>
                            <frontend_type>select</frontend_type>
							<source_model>onestepcheckout/system_config_source_formatdate</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>This format date will show in checkout page with customer</comment>
                        </formatdate>	
						<rangeday translate="label">
                            <label>Permitir exibir período de entrega</label>
                            <frontend_type>text</frontend_type>
							<source_model>onestepcheckout/system_config_source_formatdate</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Please input number of weeks. Display time period for customer to choose delivery date.</comment>
                        </rangeday>	
						<weekend translate="label">
                            <label>Weekend Days</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_locale_weekdays</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weekend>
                        <disableday translate="label">
                            <label>National Days</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter off-shipping days with the format (mm/dd/yyyy), comma separated and no spaces</comment>
                        </disableday>
                        <enableday translate="label">
                            <label>Additional Days</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Enter only weekend days with the format (mm/dd/yyyy), comma separated and no space</comment>
                        </enableday>
                        <timerange translate="label">
                            <label>Time Range</label>
                            <comment></comment>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timerange>
						<addtimerange translate="label">
                            <label></label>
                            <frontend_model>onestepcheckout/adminhtml_onestepcheckout_system_config_form_field_addtimerange</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Add Time Range with the format 24h (h:m), ex. 7:30</comment>
                        </addtimerange>
                    </fields>
                </deliverydate>
                <author_information translate="label">
                    <label>Author Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Desenvolvido sob licensa exclusiva para o Brasil da MageWord por O2ti &lt;a href="http://www.o2ti.com/"&gt;www.o2ti.com&lt;/a&gt;.
							 Caso necessite de suporte escreva para nosso email at &lt;a href="mailto:contato@o2ti.com"&gt;contato@o2ti.com.&lt;/a&gt;
                    </comment>
                </author_information>
				
            </groups>
        </onestepcheckout>
    </sections>
</config>